Source: vx-dga-l-pseint
Section: utils
Priority: extra
Maintainer: Arturo Martín <amartinromero@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3
Homepage: http://wiki.vitalinux.educa.aragon.es

Package: vx-dga-l-pseint
Architecture: amd64
Provides: 
Conflicts: 
Replaces: 
Depends: ${misc:Depends}
Description: Instala y Configura PseInt para aprender Lógica de Lenguajes de Programación
 Instala y Configura PseInt para aprender Lógica de Lenguajes de Programación en Vitalinux
